body {
    margin: 0;
    background-color: #252525;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    overflow-scrolling: unset;
}

#gallery-wrap > .img {
    width: 36vmin;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: 100% 50%;
    filter: brightness(80%);
    border-radius: 10px;
}

#gallery-wrap{
    display: flex;
    gap: 2vmin;
    translate: 20% 0;
    /*transform: translate(20%, 0);*/
    user-select: none;
    overflow: hidden;
}